body{
    font-size: 16px; /* 1 em */
    margin: 0px auto;
    max-width: 1078px;
    min-width: 1078px;
}
footer{
    background-color: rgb(57, 75, 159);
    color: white;
    margin-top: 50px;
} 
footer section article{
    display: inline-block;
    margin-left: 20px;
    margin-right: 80px;
    margin-bottom: 30px;
    vertical-align: bottom;
    line-height: 1.5;
}
header input{
    float: right;
    margin-right: -200px;
    margin-top: 15px;
    position: relative;
}
header nav{
    margin-left: 220px;
}
header nav ul li{
    border-bottom: 1px solid gray;
    color: gray;
    display: inline-block;
    font-size: 1.8em;
    margin-right: 15px;
    padding-bottom: 2px;
    /* text-decoration: underline; */
}
#bg_offer{
    left: -35px;
    position: relative;
    top: -410px;
}
#facebook{
    left: 76%;
    position: relative;
    top: -50px; 
}
#footer01{
    text-align: center;
    width: 40%;
}
#footer02{
    text-align: center;
    width: 20%;
}
#footer03{
    margin-left: 33px;
    width: 10%;
}
#granthams{
    margin-left: 25px;
    margin-top: 25px;
}
#monitos{
    left: 80%;
    position: relative;
    top: -70px;
}
#paint{
    float: right;
}
#primerseccion{
    height: 318px;
    margin-top: 60px;
}
#primerseccion article{
    display: inline-block;
    vertical-align: top;
}
#secc01art01{
    width: 61%;
}
#secc01art02{
    margin-left: 20px;
    width: 31%;
}
#secc01art02 ul{
    line-height: 1.4;
}
#secc01art02 ul li{
    list-style: none;
    margin-left: -20px;
}
#secc01art02 ul li:before{
    color:#FF0099;
    content: "• ";
}
#secc03art04{
    padding-top: 60px;
}
#segundaseccion article{
    /* margen interno */
    padding-right: 140px;
    text-align: right;
}
#terceraseccion article{
    display: inline-block;
    padding-right: 10px;
    vertical-align: top;
    width: 23%;
}
#terceraseccion article img{
    /* alineacion vertical del texto que la rodea */
    vertical-align: middle;
}
#twitter{
    left: 77%;
    position: relative;
    top: -50px;
}
.botonValid{
    background-color:transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;  
}
.colorazul{
    color: #4267b3;
}
.colorrosa{
    color: #FF0099;
}
.colorverde{
    color: #8BC500;
}
.email{
    height: 20px;
}
.interlineadoChico{
    line-height: 0.7;
}
.nito{
    font-weight: bold;
}
.letragrande{
    font-size: 3.5em;
}
.letramediana{
    font-size: 2em;
}
.miBoton{
    background-color: #8BC500;
    color: white;
    border: none;
    border-radius: 5px;
    height: 28px;
}



